.payslip-result {
  .title {
    margin-top: 0;
  }
  .payroll-user-icon {
    border: 1px solid #eee;
    font-size: 40px;
    line-height: 80px;
    width: 80px;
    display: inline-block;
    vertical-align: middle;
    background: #f4f4f4;
    text-align: center;
  }
  .payroll-user-info {
    margin-left: 10px;
    display: inline-block;
    vertical-align: middle;

    .payroll-user-info__name {
      margin-top: 0;
    }
  }
  .payslip-table {
    margin-top: 20px;

    caption {
      font-size: 1.5em;
    }

    .payslip-table__amount-column {
      text-align: right;
    }
  }
}